* {
  border: none;
  border-radius: 0;
  font-family: Cartograph CF Nerd Font, monospace;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #ebdbb2;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #a89984;
  margin-right: 8px;
  margin-left: 0px;
}

#workspaces button.active {
  color: #fbf1c7;
}

#workspaces button.focused {
  color: #83a598;
  background: #282828;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #fb4934;
  background: #282828;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #282828;
  color: #8ec87c;
  border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#cpu,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: #282828;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #282828;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-left: 10px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-updates {
  color: #f5c2e7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #d3869b;
  border-radius: 10px 0px 0px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: #83a598;
  border-left: 0px;
  border-right: 0px;
  /*border-radius: 0px 10px 10px 0px;*/
}

#pulseaudio {
  color: #83a598;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #d3869b;
  margin-right: 5px;
  border-radius: 0 10px 10px 0;
}

#battery {
  color: #8ec07c;
  /*border-radius: 10px 0px 0px 10px;*/
  border-right: 0px;
  border-left: 0px;
  padding-right: 20px;
  margin-right: 0px;
}

#cpu {
  color: #8ec87c;
  border-left: 0px;
  border-right: 0px;
}

#memory {
  color: #8ec87c;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  padding-right: 20px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}
